.quote {
    margin-top: 126px;

    @include media-max (992px) {
        margin-top: calc(50px + (75 - 50) * ((100vw - 375px) / (992 - 375)));
    }

    &__image {
        width: 100%;
        max-width: 1440px;
        height: auto;
    }

    &__icon {
        width: 100%;
        max-width: 100px;
        height: auto;
        position: absolute;
        top: -16px;
        left: -31px;

        @include media-max (992px) {
            display: none;
        }
    }

    &__bcg {
        position: relative;
    }

    &__block {
        position: absolute;
        top: 100px;
        left: 160px;
        width: 100%;
        max-width: 700px;

        @include media-max (1201px) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @include media-max (992px) {
            padding-left: 15px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 710px;
        width: 100%;
        max-width: 710px;

        @include media-max (1200px) {
            gap: calc(15px + (25 - 15) * ((100vw - 375px) / (1200 - 375)));
        }
    }

    &__description {
        font-family: $font-primary;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 46px;
        letter-spacing: 0.04em;
        color: $primary;

        @include media-max (1200px) {
            font-size: calc(14px + (32 - 14) * ((100vw - 375px) / (1200 - 375)));
            line-height: calc(22px + (46 - 22) * ((100vw - 375px) / (1200 - 375)));
            letter-spacing: 0.03em;
        }
    }

    &__author {
        font-family: $font-secondary;
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.08em;
        color: $primary;

        @include media-max (1200px) {
            font-size: calc(12px + (20 - 12) * ((100vw - 375px) / (1200 - 375)));
            line-height: calc(14px + (20 - 14) * ((100vw - 375px) / (1200 - 375)));
            letter-spacing: 0.06em;
        }
    }
}
