.reviews {
    padding-top: 120px;

    @include media-max (1200px) {
        padding-top: calc(50px + (120 - 50) * ((100vw - 375px) / (992 - 375)));
    }
    
    &__heading {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: 400px;
        padding-bottom: 50px;

        @include media-max (1200px) {
            padding-bottom: calc(20px + (50 - 20) * ((100vw - 375px) / (1200 - 375)));
        }
    }

    &__subtitle {
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        color: $primary;

        @include media-max (1200px) {
            font-size: calc(20px + (40 - 20) * ((100vw - 375px) / (1200 - 375)));
            line-height: calc(28px + (48 - 28) * ((100vw - 375px) / (1200 - 375)));
        }
    }

    &__description {
        font-family: $font-primary;
        font-style: normal;
        font-weight: 300;
        font-size: $font-size-default;
        line-height: 26px;
        color: $primary;
        opacity: 0.8;

        @include media-max (1200px) {
            font-size: calc(12px + (18 - 12) * ((100vw - 375px) / (1200 - 375)));
            line-height: calc(18px + (26 - 18) * ((100vw - 375px) / (1200 - 375)));
        }
    }

    &__overlay {
        background: rgba(25, 28, 41, 0.6);
        display: flex;
    }

    &__wrapper {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;

        @include media-max (1200px) {
            gap: calc(15px + (30 - 15) * ((100vw - 375px) / (1200 - 375)));
        }
    }
    &__item {
        &--first {
            background: url(../img/reviews-bg-first.jpg);
            background-repeat: no-repeat;
            height: auto;
            width: 100%;
            max-width: 370px;
            display: flex;
        }

        &--second {
            background: url(../img/reviews-bg-second.jpg);
            background-repeat: no-repeat;
            height: auto;
            width: 100%;
            max-width: 370px;
            display: flex;
        }

        &--third {
            background: url(../img/reviews-bg-third.jpg);
            background-repeat: no-repeat;
            height: auto;
            width: 100%;
            max-width: 370px;
            display: flex;
        }
    }
}

.item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 26px;
    padding: 30px 40px;

    @include media-max (767px) {
        padding: 20px 25px;
    }

    &__description {
        font-family: $font-primary;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $primary;
        opacity: 0.8;

        @include media-max (1200px) {
            font-size: calc(12px + (16 - 12) * ((100vw - 375px) / (1200 - 375)));
            line-height: calc(18px + (26 - 18) * ((100vw - 375px) / (1200 - 375)));
        }
    }

    &__author {
        font-family: $font-secondary;
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.08em;
        color: $primary;

        @include media-max (1200px) {
            font-size: calc(14px + (20 - 14) * ((100vw - 375px) / (1200 - 375)));
            line-height: calc(16px + (20 - 16) * ((100vw - 375px) / (1200 - 375)));
        }
    }
}