.btn {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #53F3CD;
    border: none;
    cursor: pointer;

    @include media-max (992px) {
        font-size: calc(14px + (20 - 14) * ((100vw - 375px) / (992 - 375)));
        line-height: calc(14px + (20 - 14) * ((100vw - 375px) / (992 - 375)));
    }

    &:hover {
        box-shadow: 11px 10px 51px 11px rgba(126, 137, 187, 0.7);
        outline: none;
    }

    &:focus {
        box-shadow: 11px 10px 51px 11px rgba(126, 137, 187, 0.7);
        outline: none;
    }
}

